main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.section-heading {
  font-size: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
}

.input-container {
  display: flex;
  gap: 1rem;
}

.input-label-text {
  vertical-align: top;
  padding-top: .25rem;
}

.input-label-text b {
  white-space: nowrap;
}

.text-input {
  flex: 1;
  padding: .25rem;
  overflow: hidden;
}

.resizing-textarea {
  flex: 1;
  padding: .25rem;
}

form button {
  align-self: center;
  padding: .25rem .5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
}

section .data-display {
  display: flex;
  gap: 1rem;
}

section button {
  align-self: center;
  padding: .25rem .5rem;
}